.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  border-radius: 1.5em;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.card:hover {
  cursor: pointer;
}
.card h1 {
  color: white;
  font-weight: 700;
  margin: 0;
  font-size: 2em;
}
.card p {
  color: rgb(184, 184, 184);
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.card img {
  border-radius: 1.5em 1.5em 0em 0em;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
