.card {
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    border-radius: 1.5em;
}
.card:hover {
    cursor: pointer;
}
.card h1 {
    color: white;
    font-weight: 700;
    margin: 0;
    font-size: 2.5em;
}
.card p {
    color: rgb(184, 184, 184);
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.card img {
    border-radius: 1.5em 1.5em 0em 0em;
}