h1 {
    color: white;
    text-align: center;
    font-size: 5em;
    font-weight: 700;
}
.input {
    width: 100%;
    display: flex;
    justify-content: center;
}
input {
    text-align: center;
}